header{
    margin-top: 0px;
    margin-bottom: 20px;
    background-color:  #fff !important;
}
header .row{
    margin: 50px 0px;
}

header .row h5{
    color: var(--btn-color);
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}
header h2{
    color: var(--main-color);
    margin: 23px 0px;
    font-weight:720;
    letter-spacing: 1px;
    word-spacing: 6px;
    font-size: 42px;
    

    
}
header button{
    background-color: var(--orange-color) !important;
    width: 185px;
    height: 60px;
    border: 1px solid var(--orange-color) !important;
    border-radius: 4px !important; 
    margin-top: 20px;
    transition: .2s ease !important;
   
}
header button a{
    color: #ddd !important;
     font-size: 17px;
     transition: .2s ease !important;
}
header button:hover a{
    color: #ddd;
}
header button:hover{
    opacity: .8 !important;
}

header span{
    display: block;
    font-size:100px;
    color: rgb(255, 218, 204);
    left: 60%;
    font-weight:700;
    position: relative;
    -webkit-text-stroke: 2px var(--orange-color) ;
    -moz-text-stroke : 1px var(--orange-color);
    -o-text-stroke: 1px var(--orange-color);
    animation: mover 2s infinite alternate;
    -moz-animation: mover 2s infinite alternate;
    -webkit-animation: mover 2s infinite alternate;
    -o-animation: mover 2s infinite alternate;

}
header div.circle svg{
    font-size: 28px;
    margin:1px 0px;
    left: 35px;
    color: var(--btn-color);
    animation: mover 3s infinite alternate;


}

header .header-box{
    top:10%;
    position: relative;
    max-width: 100%;
    height: auto;
   

}

header img{
    max-width: 100%;
    width: 500px;
    height: auto;
    animation: mover 1s infinite alternate ;
    -moz-animation: mover 1s infinite alternate;
    -webkit-animation: mover 1s infinite alternate;
    -o-animation: mover 1s infinite alternate;
    transition: .3 ease all ;
    
}
@keyframes mover
 {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}
@-webkit-keyframes mover{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }

}
@-moz-keyframes mover{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }

}
@-o-keyframes mover{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }

}



header svg{
    color: #bcbaeae9;
    border-radius: 30%;
    
    position: relative;
    font-size: 53px;
    left: 90%;
    top:0;
    animation: mover 2s infinite alternate;
    -moz-animation: mover 2s infinite alternate;
    -webkit-animation: mover 2s infinite alternate;
    -o-animation: mover 2s infinite alternate;
}