body{
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  background-color: #fff !important;

}

html{
  scroll-behavior: smooth;
}
:root{
  --main-color : #1f2278 ;
  --orange-color : #f17732 ;
  --btn-color: #5d5acf ;

 }


section , footer, header{
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
  padding: 25px 0px;
  margin-top: 50px;
}



a{
  text-decoration: none !important;
  
}
span{
  display: block;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
button{
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
}
p{
  line-height: 28px;
}
input{
  box-sizing: border-box;
  border: 1px solid #fff;
  text-align: left;
  padding: 5px 15px;
  color: #333 ;
  font-size: 16px;
  font-family: 'Tajwal';
}




/* start css for the footer*/
footer{
  margin-top: 80px;
}
footer img.footerlogo {
  width: auto;
  height: 41px;
  margin: 15px 0px;

}
footer p{
  font-size: 17x;
  color: #01004f;
  margin-top: 13px;
  margin-bottom: 20px !important;
  
}
footer .footer-contact{
  display: flex ;
}
footer .footer-contact .footer-icon{
  margin: 7px 20px 0px 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: var(--orange-color);
  box-sizing: border-box;
  border: 1px solid var(--orange-color);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
footer .footer-contact .footer-icon svg {
  color: #fff;
  padding-left: 10px;
  text-align: center;
}
footer .footer-contact h6{
  
  color: var(--orange-color);
  margin-bottom: 7px;
  font-size: 16px;
}
footer .footer-contact h4{
  color: var(--main-color);
  font-size: 18px;
  margin-top: 10px;
  font-weight: 700;
}
footer h2{
  color: var(--main-color);
  font-size: 30px;
  margin: 15px 0px;
}
footer ul{
  margin-top: 20px;
}
footer ul li{
  margin-top: 10px;
}
footer ul li a{
color: #01004f;
font-size: 16px;
letter-spacing: 1px;
}
footer form{
  margin: 15px 0px;
}
footer form input{
  border: 1px solid #ccc ;
  margin: 10px 0px;
  width: 100%;
}
footer form button{
   width: 100%;
   background-color: var(--orange-color) !important;
   border: 1px solid var(--orange-color) !important;
   color: #fff;
   border-radius: 10px !important;
   margin-top: 15px;
}
footer ul.social li{
  display: inline-block;
  margin-right: 20px;
  color: var(--main-color);
}
footer .footer-bottom{
  text-align: center;
  margin-top: 25px ;
  padding: 10px 0px;
  border-top: 1px solid #ccc;
}
footer .footer-bottom span{
  display: block;
  margin-top: 10px ;
}
footer svg{
  color: var(--btn-color);
}

